---
layout: index
title: jbang
tagline: Unleash the power of Java for shell scripting
css: 
js: sliders.js
keywords: jbang, java, script, shell, jshell

---
{% include JB/setup %}
<!-- Content Area Start -->
<div id="content">
      <!-- sliders -->
      <div id="sliders">
        <div class="full-width">
          <!-- light slider -->
          <div id="light-slider" class="carousel slide">
            <div id="carousel-area">
              <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-slider" data-slide-to="1"></li>
                  <li data-target="#carousel-slider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img src="{{ "/assets/images/slider/bg-1.jpg" | relativize_url }}" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span class="text-primary">{{site.title}} </span> - Run java as scripts anywhere</h3>
                      <h5 class="slide-text animated fadeIn">{{site.tagline}}</h5>
                      <a href="#try" class="btn btn-lg btn-default-filled animated fadeInUp">Try</a>
                      <a href="{{ "/download" | relativze_url }}" class="btn btn-lg btn-common animated fadeInUp">Download</a>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{{ "/assets/images/slider/bg-2.jpg" | relativize_url }}" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span class="text-primary">{{site.title}}</span> - Single-File Java Source-Code Done Right </h3>
                      <h5 class="slide-text animated fadeIn">Run java as scripts anywhere with java or jshell.</h5>
                      <a href="#watch" class="btn btn-lg btn-default-filled animated fadeInUp">Watch</a>
                      <a href="{{ "/download" | relativze_url }}" class="btn btn-lg btn-common animated fadeInUp">Download</a>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{{ "/assets/images/slider/bg-3.jpg" | relativize_url }}" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span class="text-primary">{{site.title}}</span> - Try out any Java API with one file</h3>
                      <h5 class="slide-text animated fadeIn">No need to install, setup nor configure your project for Maven, Gradle or any other build system.</h5>
                      <a href="#try" class="btn btn-lg btn-default-filled animated fadeInUp">Try</a>
                      <a href="#watch" class="btn btn-lg btn-common animated fadeInUp">Download</a>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
                  <span class="carousel-control carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
                  <span class="carousel-control carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End sliders -->
                        
            
        <div id="features" class="container">
	<!-- SERVICES -->
            <div class="sub-title">
              <span>Features</span>
            </div>
            <div class="row">

              <!-- Start Service Icon 6 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-cloud-download"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">No Java ? No Problem!</a></h4>
                    <p>
                      Java will automatically be downloaded when needed.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 6 -->
            

              <!-- Start Service Icon 1 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-cogs"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Java 8 and higher</a></h4>
                    <p>
                      You can run <code>.java</code> as scripts using Java 8+, <code>.jsh</code> works with Java 9+.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 1 -->

              <!-- Start Service Icon 5 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-flash"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="{{ "/download" | relativize_url }}">Install & Run Anywhere</a></h4>
                    <p>
                      JBang installs and run on Windows, Linux, macOS, Docker and Github Actions 
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 5 -->
              
              
              <!-- Start Service Icon 2 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-cubes"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Dependencies Simplified</a></h4>
                    <p>
                      Automatic fetching of any dependency using <code>//DEPS group:artifact:version</code> 
                      or <code>@Grab</code> annotations.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 2 -->

              <!-- Start Service Icon 2 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-server"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Easy Repositories</a></h4>
                    <p>
                      No need to remember the full url of Maven repositories.
                      Use short hand, like <code>//REPOS jitpack</code> 
                      to easily add major repositories.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 2 -->

              <!-- Start Service Icon 4 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Works in your IDE</a></h4>
                    <p>
                      Easy editing in Intellij, Eclipse, Visual Studio Code, Apache Netbeans, vim and emacs.
                      All with proper content assist and debug. 
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 4 -->

              <!-- Start Service Icon 6 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-hand-pointer-o"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Executable scripts</a></h4>
                    <p>
                      <code>./helloworld.java</code> works on Linux and Mac. Use Java for true scripting.    
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 6 -->

              <!-- Start Service Icon 6 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-github"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Scripting Catalogs</a></h4>
                    <p>
                     Run anyone's script or provide you own aliases from a git backed catalog, i.e. <code>jbang env@jbangdev</code>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 6 -->


              <!-- Start Service Icon 3 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-tachometer"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Cached Builds</a></h4>
                    <p>
                      Builds are cached making re-runs instant.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 3 -->

            </div>
	    </div>
            <div class="mb-60"></div>
	
	<!-- HEADER -->
      <div class="header-style-2">
        <div class="container">
          <a name="try"/>
          <div class="row">
            <div class="hero-content-v2">  
              <h3>Try JBang</h3>
            <p>Run <code>hello.java</code> by clicking the Run button.
               You can also run in the terminal using <code>jbang hello.java</code> or directly as <code>./hello.java</code>.</p>
                <iframe height="600px" width="100%" src="https://repl.it/@maxandersen/jbang-replit-demo?lite=true#hello.java" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
            </div>
          </div>
        </div>
      </div>
      
      <div class="header-style-2">
        <div class="container">
          <a name="watch"/>
          <div class="row">
            <div class="hero-content-v2">  
              <h3>Watch</h3>
            <p>Devnation talk on jbang.</p>
            <iframe width="1280" height="720" src="https://youtube.com/embed/-c9CIT9RfOQ?start=136" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          </div>
        </div>
      </div>
      
	<!-- END HEADER -->
            <div class="mb-60"></div>
	
      <div class="container">
        <h4 class="sub-title space-left">Learn more</h4>
      </div>

      <!-- posts carousel -->
      <section id="blog">
        <div class="container">                              
          <div id="posts-carousel" class="owl-carousel">
           {% for post in site.posts %}     
            <div class="blog-block blog block carousel-post">
             {% if post.img %}           
              <img src="{{ "/assets/images/" | append: post.img | relativize_url }}" alt="">
             {% endif %}           
              <h5>{{ post.title }}</h5>
              <p>{{ post.excerpt }}</p>
              <a href="{{ BASE_PATH }}{{ post.url }}">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
           {% endfor %}     
          </div>              
        </div>
      </section>
      
      <div class="mb-60"></div>
                  
            
<!-- Content area end -->
</div>
