              <ul class="social-links">
                {% if site.author.facebook %}
                <li>
                  <a data-toggle="tooltip" title="Seguici e scopri il gruppo segreto!" href="https://www.facebook.com/{{ site.author.facebook }}/" title="Facebook" class="fa fa-facebook"></a>
                </li>
                {% endif %}
                {% if site.author.twitter %}
                <li>
                  <a data-toggle="tooltip" title="Cinguettiamo insieme" href="https://twitter.com/{{ site.author.twitter }}" title="Twitter" class="fa fa-twitter"></a>
                </li>
                {% endif %}
                {% if site.author.instagram %} 
                <li>
                  <a data-toggle="tooltip" title="NoAlFemminicidio su Instagram" href="https://instagram.com/{{ site.author.instagram }}" title="Twitter" class="fa fa-instagram"></a>
                </li>
                {% endif %}
                {% if site.author.linkedin %}
                <li>
                  <a data-toggle="tooltip" title="Connettiti per collaborare" href="https://www.linkedin.com/in/{{ site.author.linkedin }}/" title="LinkedIn" class="fa fa-linkedin"></a>
                </li>
                {% endif %}
              </ul>
