---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif      : Georgia, Times, serif;
$sans-serif : "Montserrat",sans-serif;

$link-color:#EB586F;

a {
    text-decoration: none;
    color: #EB586F;
}

/*pre {
    border-left: 11px solid #ccc;
}*/

a:hover {
    text-decoration: underline;
}

.v-tabs-items {
    padding: 15px;
    border: 1px solid #ddd;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import "https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"