---
layout: splash
---
<h2>JBang AppStore</h2>
<div>
    Below is a index of JBang {{page.thing-plural}} available on GitHub in <a href="https://github.com/jbangdev/jbang#catalogs">JBang Catalogs.</a><br/><br/>

    To use it <a href="/download">Download or Install</a> JBang or run the following command from any bash compatible terminal:
    <br/></br/>
    <center><code style="font-size:25px;">curl -Ls https://sh.jbang.dev | bash -s - app setup</code></center>
    <br/>
    or in a Windows Powershell:
    <br/></br/>
    <center><code style="font-size:25px;">iex "& { $(iwr https://ps.jbang.dev) } app setup"</code></center>
    <br/>
    <br/><br/>
    {{page.tip-help}}
    <br/><br/>

    <b>NOTE:</b> Always verify a script code before executing it.
        </div>

{% raw %}
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.0/dist/vuetify.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div id="app">
    <v-app id="inspire">
        <v-card>
            <v-card-title>
                AppStore
                <v-spacer></v-spacer>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
              </v-card-title>
        <v-data-table
          :headers="headers"
          :items="appstore.aliases"
          :search="search"
          group-by="link"
          item-key="command"
          :sort-by="stars"
          :sort-desc="false"
          class="elevation-1"
        >
        </v-data-table>
        </v-card>
      </v-app>
    
  </div>

  
  <script>
    new Vue({
    el: "#app",
    vuetify: new Vuetify(),
    data() {
    return {
        search: '',
        headers: [{
            text: "Command",
            value: "command",
        },
        {
            text: "link",
            value: "link"
        },
        { 
            text: "stars",
            value: "stars"
        }
    ],
        appstore: []
    }
    },
    mounted: function() {
    axios
        .get('/assets/data/jbang-appstore.json')
        .then(response => {
        this.appstore = response.data
        })
        .catch(function (error) {
        console.log(error);
        })
    }
    })
  </script>
{% endraw %}